[core]
	editor = \"C:\\Users\\sakagamis0203\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = sakagami
	email = sakagamis0203@gmail.com
