html {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar.is-fixed-top {
  top: 0;
}

.navbar #logo {
  font-size: 20px;
  text-transform: uppercase;
}

.logo-triangle {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #00d1b2;
}

.navbar-item {
  padding: 15px 7.5px;
}

body {
  height: 100%;
  min-height: 100%;
  background-color: blue;
  background: linear-gradient(180deg, #28b3f4 3%, #5ef1fc, #54e0e2);
  background: -moz-linear-gradient(180deg, #28b3f4 3%, #5eeafc, #54e0e2);
  background: -webkit-linear-gradient(180deg, #28b3f4 3%, #5ef1fc, #54e0e2);
}

.error {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  padding: 80px 15px 0px;
}

h1 {
  margin-bottom: 30px;
  margin-left: 200px;
}

h2 {
  margin-bottom: 30px;
  margin-left: 200px;
}
/*login.jsp newuser.jsp*/
.login-body {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  padding: 50px 15px 0px;
}

#warpper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

section {
  padding-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.field {
  padding-left: 300px;
  padding-right: 300px;
  border-color: #5d627b;
}

.text-margin {
  margin-top: 15px;
  margin-bottom: 10px;
}

.button.width-100 {
  width: 120px;
  height: 30px;
  padding: 0px;
  margin-top: 10px;
}

.button.is-link:focus {
  background-color: #00d1b2;
  border-color: #00d1b2;
  color: #fff;
  text-decoration: none;
}

.login-body-button {
  margin-top: 40px;
  margin-bottom: 200px;
}

/*usercreate.jsp*/
.user-create-body {
  padding-top: 200px;
}
.box {
  padding: 30px 30px;
  margin: 10px 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box p {
  margin: 0;
  padding: 0;
}

.button.login-move {
  margin-top: 50px;
  padding: 0px 30px 0px;
}


/*edit.jsp new.jsp post.jsp*/
.post-body {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  padding: 40px 15px 0px;
}

.post-field {
  height: 100%;
  min-width: 300px;
  margin: 0 20%;
  padding: 0 5%;
  border: solid;
  border: double 5px #20b2aa;
  background-color: #fff;
  background: rgba(250, 250, 250, 0.5);
  box-sizing: border-box;
}

.form-field {
  width: 90%;
  margin: 0 5%;
  padding: 0 5%;
  box-sizing: border-box;
}

.file-cta {
  min-width: 170px;
  height: 30px;
}

#file-label {
  max-width: 170px;
}

.file-name {
  border: none;
  height: 25px;
}

.rate-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.rate-form input[type="radio"] {
  display: none;
}
.rate-form label {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #fcfcfc;
  font-size: 20px;
}
.rate-form label:hover {
  color: #ffcc00;
}
.rate-form label:hover ~ label {
  color: #ffcc00;
}
.rate-form input[type="radio"]:checked ~ label {
  color: #ffcc00;
}

.button-post {
  position: relative;
}
.button-cancel {
  position: absolute;
  right: 8%;
  bottom: 0px;
}

.button-delete {
  position: absolute;
  left: 8%;
  bottom: 0px;
}

/*lis.jsp*/

#booklist-wrappwer {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin: 80px 0px 0px;
  padding-bottom: auto;
  background-color: #ffcc00;
  border-color: #ffcc00;
  border-style: solid;
  border-width: 5px;
  flex-wrap: wrap;
}

.card-box {
  padding-top: 15px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  gap: 16px;
}

.card {
  height: 0;
  max-width: 300px;
  padding-bottom: clamp(200px, 100%, 300px);
  position: relative;
}

.card-content {
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.star5_rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #fcfcfc;
  font-size: 20px;
}

.star5_rating:before,
.star5_rating:after {
  content: "★★★★★";
}

.star5_rating:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcc00; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after {
  width: 100%;
} /* 星5 */
.star5_rating[data-rate="4"]:after {
  width: 80%;
} /* 星4 */
.star5_rating[data-rate="3"]:after {
  width: 60%;
} /* 星3 */
.star5_rating[data-rate="2"]:after {
  width: 40%;
} /* 星2 */
.star5_rating[data-rate="1"]:after {
  width: 20%;
} /* 星1 */
.star5_rating[data-rate="0"]:after {
  width: 0%;
}

/*
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card-float {
  margin: 5px;
  padding: 5px;
  float: left;
}
.card-float {
  float: left;
}
*/ /*
#footerwrap {
  min-height: 100vh;
  position: relative; /*←相対位置*/
/* padding-bottom: 120px; /*←footerの高さ*/
/* box-sizing: border-box; /*←全て含めてmin-height:100vhに*/
/*}
*/

footer {
  width: 100%;
  background-color: #89c7de;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 5px;

  position: absolute; /*←絶対位置*/
  position: fixed;
  bottom: 0; /*下に固定*/
}

.size {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

img {
  max-width: 50%;
  margin: 10px;
}

th {
  min-width: 70px;
}
